<!DOCTYPE html>
<html>
<head>
  <title>Notee</title>
  <%= stylesheet_link_tag    "notee/application", media: "all" %>
  <%= javascript_include_tag "notee/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
