.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

.idea/
vendor/
.secret.yml

!/app/assets/javascripts/.keep
/app/assets/javascripts/notee
/frontend/node_modules/
