<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @notee_image.content %>
</p>

<%= link_to 'Edit', edit_notee_image_path(@notee_image) %> |
<%= link_to 'Back', notee_images_path %>
