<h3>Archive</h3>
<div class="notee_sidebar_content">
  <% notee_archives.each do |key, count| %>
      <ul class="notee_sidebar_ul">
        <a href="/archives/<%= key %>">
          <li><%= key %> (<%= count %>)</li>
        </a>
      </ul>
  <% end %>
</div>
