<div class="notee_list">
  <a class="notee_list_content" href="/writers/<%= writer.name %>">
    <img src="/notee/profile/<%= writer.profile_img %>">
    <div class="notee_list_content_p">
      <h3><%= writer.name %></h3>
      <p><%= writer.profile %></p>
    </div>
  </a>
</div>
