<div class="notee_sidebar">
  <h3>Category</h3>
  <div class="notee_sidebar_content">
    <%= notee_category_links %>
  </div>

  <h3>Archive</h3>
  <div class="notee_sidebar_content">
    <%= notee_monthly_links %>
  </div>
</div>
