<div class="notee_sidebar">
  <!-- Category Content-->
  <%= render :partial => "notee/partials/sidebars/categories.html.erb" %>

  <!-- Archive Content-->
  <%= render :partial => "notee/partials/sidebars/archives.html.erb" %>

  <!-- Twitter Content-->
  <%= render :partial => "notee/partials/sidebars/twitter.html.erb" %>

  <!-- Facebook Content-->
  <%= render :partial => "notee/partials/sidebars/facebook.html.erb" %>
</div>
