<% render :partial => "notee/header.html.erb" %>
<h2>Archive List</h2>
<div class="notee_lists">
  <% @archives.each do |archive| %>
      <% slash_time = archive.time.gsub("-","/") %>
      <div class="notee_list">
        <a href="/archive/<%= slash_time %>">
          <h3><%= slash_time %>(<%= archive.count %>)</h3>
        </a>
      </div>
  <% end %>
</div>
<% render :partial => "notee/sidebar.html.erb" %>
