<% render :partial => "notee/header.html.erb" %>
<h2>Category List</h2>
<div class="notee_lists">
  <% @categories.each do |category| %>
      <div class="notee_list">
        <a href="/category/<%= category.name %>">
          <h3><%= category.name %></h3>
        </a>
      </div>
  <% end %>
</div>
<% render :partial => "notee/sidebar.html.erb" %>
