<% render :partial => "notee/header.html.erb" %>
<h2>Writer List</h2>
<% @writers.each do |writer| %>
    <div>
      <a href="/writer/<%= writer.name %>">
        <img src="/notee/<%= writer.profile_img %>">
        <h3><%= writer.name %></h3>
        <p><%= writer.profile %></p>
      </a>
    </div>
<% end %>
<% render :partial => "notee/sidebar.html.erb" %>
