<% unless display %>
  <div style="width: 100%; float: left">
    <div style="width: 40%; margin-left: 26%; margin-top: 60px; border: 1px solid #dcdcdc; padding: 4%;">
      <h1>Secret Notee</h1>
      <p>Enter this notee's password</p>
      <form style="margin-top: 40px;">
        <h3>PASSWORD:</h3>
        <input type="password" id="password" />
        <button type="button" onClick="validate()">ENTER</button>
      </form>
    </div>
  </div>
<% else %>
  <%= markdown %>
<% end %>
