<h3>Twitter</h3>
<div class="notee_sidebar_content">
  <a
    class="twitter-timeline"
    href="https://twitter.com/dev_funaota"
    height="400">
      Tweets by dev_funaota
  </a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
