<%= render :partial => "notee/partials/header.html.erb" %>
  <div class="notee_wrapper">
    <%= yield %>
    <%= render :partial => "notee/partials/sidebar.html.erb" %>
  </div>
<%= render :partial => "notee/partials/footer.html.erb" %>
